:root {
    --beige: rgb(214, 201, 152);
    --lightgrey: rgb(178, 175, 157);
    --maroon: rgb(128, 0, 0);
}

.vh-custom{
    height: 60vh;
}

.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px dashed var(--maroon);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

.opener{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--maroon);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background-color: var(--beige);
    transition: 0.7s;
}

.moved{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--maroon);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    transition: 0.7s;
    background-position: center;
    background-size: 100%;
}

.flip-card{
    height: 400px;
    width: 300px;
    transition: 3.7s;
}

.flip-card:hover > .inner{
    transform: rotateY(180deg);
}

.inner{
    height: 100%;
    width: 100%;
    border: 3px solid var(--maroon);
    border-radius: 30px;
    position: relative;
    transition: 0.7s;
    transform-style: preserve-3d;
}

.inner-face{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 30px;
    background-color: var(--lightgrey);
}

.inner-back{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--lightgrey);
}