:root {
    --beige: rgb(214, 201, 152);
    --lightgrey: rgb(178, 175, 157);
    --maroon: rgb(128, 0, 0);
}

.navbar {
    height: 70px;
}

.accordion-item, .accordion-button{
    background-color: var(--lightgrey);
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    color: var(--maroon);
    background-color: var(--lightgrey);
}

.accordion-button:focus{
    box-shadow: none;
}

.card{
    width: 200px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.397) 18%, rgba(255, 145, 0, 1) 100%);
}

.btn-custom2{
    background-color: var(--maroon);
    color: white;
}

.btn-custom2:hover{
    color: var(--maroon);
    background-color: white;
}