:root {
    --beige: rgb(214, 201, 152);
    --lightgrey: rgb(178, 175, 157);
    --maroon: rgb(128, 0, 0);
}

.navbar {
    height: 70px;
}

.accordion-item, .accordion-button{
    background-color: var(--lightgrey);
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    color: var(--maroon);
    background-color: var(--lightgrey);
}

.accordion-button:focus{
    box-shadow: none;
}