/* CSS Generale del sito */

:root{
    --beige: rgb(242, 232, 198);
    --lightgrey: rgb(178, 175, 157);
    --red: rgb(152, 43, 28);
    --maroon: rgb(128, 0, 0);
}

*{
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--beige);
}

/* End General */

/* Navbar */

.navbar{
    background-color: var(--lightgrey);
    height: 140px;
    transition: 0.5s;
}

.logo-custom{
    height: 60px;
}

.navbar a{
    transition: 0.5s;
    font-size: 20px;
}

.navbar a:hover{
    color: var(--maroon);
    transform: scale(1.1);
}

.collapse-color{
    background-color: var(--lightgrey);
}

.togglericon{
    transform: rotate(180deg);
}

@media screen and (max-width: 767px){
    .navbar a:hover {
            transform: scale(1.02);
        }
}

/* End Navbar */